<style>
  .social-sidebar {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .social-sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .social-sidebar li {
    margin-bottom: 10px;
  }

  .social-sidebar a {
    display: block;
    color: #333;
    text-decoration: none;
  }

  .social-sidebar i {
    margin-right: 5px;
  }
</style>

<div class="social-sidebar">
  <ul>
    <li>
      <a href="#"><i class="fa fa-facebook"></i></a>
    </li>
    <li>
      <a href="#"><i class="fa fa-twitter"></i></a>
    </li>
    <li>
      <a href="#"><i class="fa fa-instagram"></i></a>
    </li>
  </ul>
</div>
